.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

.canvasContainer{
    margin:50px;
    background-color:blue;
    border-radius:10px;
}

.gameForm {
    margin-top: 5rem;
}